.container {
    height: 1000px;
    width: 1500px;
    margin: 25px;
    
}
.c {
    width: 371px;
    height: 112px;
    font-size: 49px;
    color: #000;
    padding-top: 7px;

}
h4 {
    font-size: 17px;
    color: #5863E3;
}
textarea {
    width: 756px;
    height:350px;
    margin-top: 20px;
    
    
    
}
.s2 {
    width: 150px;
    border: 2px solid black;
}
input[type=text] {
    margin: 20px;
    width: 370px;
    height: 59px;
    margin-top: 20px;
 
    
}
input[type=submit] {
    background-color: #5968F4;
    margin: 20px;
    width: 370px;
    height: 59px;
    color:  #FBFBFF;

}
form {
    display: flex;
    
}
.kart {
    border: ;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    text-align: center;
    background-color: #5968F4;
}
.konv {
    width: 41px;
    height: 29px;
    margin-top: 20px;
    
}
a-2 {
    margin: 15px;
    
}
.yvabu {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    
}


.tele {
    padding: 10px;
}
 a {
    color: #99999A;
    font-size: 15px;
 }
 .lok {
    padding: 15px;
 }
.s-2 {
    margin-top: 30px;
}
.c-2 {
    
    width: 548px;
    height: 112px;
    font-size: 49px;
    line-height: 56.35px;
}
 .s-3 {
    display: flex;
    
    justify-content: space-between;
 }
 .bolo {
    position: relative;
    width: 1900px;
    height: 550px;
    border: 2px solid  black;
    margin-top: 20px;
    background-color: #000;
    display: flex;
 }
 h2 {
    color: #FBFBFF;
    font-size: 26px;
 }
 p {
    width: 350px;
    height: 80px;
    color: #FBFBFF;
    padding-top: 10px;
 }
 .aa {
    flex-direction: column;
    padding: 63px;
 }
.alovu {
    width: 46px;
    height: 46px;
}
h5 {
    color:#5863E3 ;
    font-size: 17px;
    padding-top: 30px;
}
.sv-2 {
    flex-direction: column;
    padding: 65px;
}
